<div class="row">
 			<div class="four columns" id="searchbar">
 				<div class="panel callout">
 				<div class="container">
 				<form class="custom">
	 			<label for="area">您希望住在那里</label>
		 			<select style="display:none;" id="area">
		 			  <option selected="">墨尔本 - 所有</option>
		 			  <option>墨尔本 - 内城</option>
		 			  <option>墨尔本 - 搿连威华利地方</option>
		 			  <option>悉尼 - 所有</option>
		 			</select>
		 			<div class="custom dropdown" style="width: 205px;">
		 			  <a href="#" class="current">
		 			    墨尔本 - 所有
		 			  </a>
		 			  <a href="#" class="selector"></a>
		 			  <ul style="width: 203px;"><li class="selected">墨尔本 - 所有</li><li>墨尔本 - 内城</li><li>墨尔本 - 搿连威华利地方</li><li>悉尼 - 所有</li></ul>
		 			 </div>
		 			 <div class="row" id="prices">
		 			 <div class="six columns">
		 			  <label for="pricemin">最低</label>
		 			  	<div class="container">
		 			  			<select style="display:none;" id="pricemax">
		 			  			  <option selected="">$20万</option>
		 			  			  <option>$30万</option>
		 			  			  <option>$50万</option>
		 			  			  <option>$100万</option>
		 			  			  <option>$200万</option>
		 			  			</select>
		 			  			<div class="custom dropdown" style="width: 103px;">
		 			  			  <a href="#" class="current">
		 			  			    $30万
		 			  			  </a>
		 			  			  <a href="#" class="selector"></a>
		 			  			  <ul style="width: 101px;"><li class="selected">$20万</li><li>$30万</li><li>$50万</li><li>$100万</li><li>$200万</li></ul>
		 			  			 </div>
		 			  			</div>
		 			  		
		 			  		
		 			  		
		 			 </div>
		 			 
		 			 
		 			 <div class="six columns">
			 			  <label for="pricemax">最高</label>
			 				<div class="container">
			 					<select style="display:none;" id="pricemin">
			 					  <option selected="">$300万</option>
			 					  <option>$200万</option>
			 					  <option>$100万</option>
			 					  <option>$50万</option>
			 					  <option>$40万</option>
			 					</select>
			 					<div class="custom dropdown" style="width: 103px;">
			 					  <a href="#" class="current">
			 					    $300万
			 					  </a>
			 					  <a href="#" class="selector"></a>
			 					  <ul style="width: 101px;"><li class="selected">$300万</li><li>$200万</li><li>$100万</li><li>$50万</li><li>$40万</li></ul>
			 					 </div>
			 					</div>
			 				
			 				
			 				
			 				
		 			 </div>
		 			 </div>
		 			 
		 			 
		 			 <div class="row">
		 			 <div class="six columns">
		 			 
		 			 <div class="container">
		 			 <label for="proptype">什么类型的房子</label>
		 			 	<select style="display:none;" id="proptype">
		 			 	  <option selected="">旧住宅区</option>
		 			 	  <option>新式里弄</option>
		 			 	  <option>现代公寓</option>
		 			 	  <option>别墅住宅</option>
		 			 	</select>
		 			 	<div class="custom dropdown" style="width: 114px;">
		 			 	  <a href="#" class="current">
		 			 	    旧住宅区
		 			 	  </a>
		 			 	  <a href="#" class="selector"></a>
		 			 	  <ul style="width: 112px;"><li class="selected">旧住宅区</li><li>新式里弄</li><li>现代公寓</li><li>别墅住宅</li></ul>
		 			 	 </div>
		 			 	 </div>
		 			 	 </div>
		 			 	 
		 			 	 <div class="six columns">
		 			 	 <div class="container">
		 			 	 
		 			 	 
		 			 	 <label for="proptype">需要几间卧室</label>
		 			 	 	<select style="display:none;" id="proptype">
		 			 	 	  <option selected="">一室</option>
		 			 	 	  <option>两室</option>
		 			 	 	</select>
		 			 	 	<div class="custom dropdown" style="width: 88px;">
		 			 	 	  <a href="#" class="current">
		 			 	 	     一室
		 			 	 	  </a>
		 			 	 	  <a href="#" class="selector"></a>
		 			 	 	  <ul style="width: 86px;"><li class="selected">一室</li><li>两室</li></ul>
		 			 	 	 </div>
		 			 	 
		 			 	 
		 			 	 
		 			 	 </div>
		 			 	 </div>
		 			 	 </div>
		 			 	  
		 			 	 
		 			 	 <label for="proptype">New or ?</label>
		 			 	 	<select style="display:none;" id="proptype">
		 			 	 	  <option selected="">Doesn't matter</option>
		 			 	 	  <option>New</option>
		 			 	 	  <option>Established</option>
		 			 	 	</select>
		 			 	 	<div class="custom dropdown" style="width: 148px;">
		 			 	 	  <a href="#" class="current">
		 			 	 	  Doesn't matter
		 			 	 	  </a>
		 			 	 	  <a href="#" class="selector"></a>
		 			 	 	  <ul style="width: 146px;"><li class="selected">Doesn't matter</li><li>New</li><li>Established</li></ul>
		 			 	 	 </div>
		 			 	</form></div>
		 			 
		 					 			 	
		 			 	 
		 			 	  <a href="#" class="nice radius button">Search</a>
		 			 	  
		 			 
	 			  
 		    </div>
 		    </div>
 		  	
 		  	
 		  	<div class="eight columns" id="searchresults">
 		  		<div class="panel">
	 		  		<div class="row">
	 		  		 <div class="six columns">
	 		  		 <a href="property1.html"><img src="assets/mock/images/thumb1.jpg"></a>
	 		  		</div>
	 		  		<div class="three columns">
	 		  		<h4>200万$</h4><h5>布莱顿<br>Brighton</h5>
	 		  		<h5>4房 2厅 2车</h5>
	 		  		</div>
	 		  		<div class="three columns">
	 		  		
	 		  		<br>630平米(很多)<br>
	 		  		联排别墅<br>Established<br><br>Added: Jan 30<br>Updated: Feb 21
	 		  		</div>
	 		  		 </div><p></p><hr><p></p>
	 		  		 
	 		  		 
	 		  		 <div class="row">
	 		  		  <div class="six columns">
	 		  		  <a href="property1.html"><img src="assets/mock/images/thumb2.jpg"></a>
	 		  		 </div>
	 		  		 <div class="three columns">
	 		  		 <h4>200万$</h4><h5>布莱顿<br>Brighton</h5>
	 		  		 <h5>4房 2厅 2车</h5>
	 		  		 </div>
	 		  		 <div class="three columns">
	 		  		 
	 		  		 <br>630平米(很多)<br>
	 		  		 联排别墅<br>Established<br><br>Added: Jan 30<br>Updated: Feb 21
	 		  		 </div>
	 		  		 </div><hr>
	 		  		 
	 		  		 
	 		  		 <div class="row">
	 		  		  <div class="six columns">
	 		  		  <a href="property1.html"><img src="assets/mock/images/thumb3.jpg"></a>
	 		  		 </div>
	 		  		 <div class="three columns">
	 		  		 <h4>200万$</h4><h5>布莱顿<br>Brighton</h5>
	 		  		 <h5>4房 2厅 2车</h5>
	 		  		 </div>
	 		  		 <div class="three columns">
	 		  		 
	 		  		 <br>630平米(很多)<br>
	 		  		 联排别墅<br>Established<br><br>Added: Jan 30<br>Updated: Feb 21
	 		  		 </div>
	 		  		 
 		  		</div>
 		  		
 		  		
 		  	</div>
 	
	</div>
</div>