<div class="row">
		<div class="twelve columns">
		<div class="row">	
			<div class="four columns">
				<div class="panel">
				<a href="melbournebayside.html" class="th"><img src="assets/mock/images/cat-bayside.jpg"></a>
				<h3>墨尔本湾畔</h3>
				<span class="label radius">海滨</span> 
				</div>
			</div>
			<div class="four columns">
				<div class="panel">
				<a href="melbournebayside.html" class="th"><img src="assets/mock/images/cat-docklands.jpg"></a>
				<h3>墨尔本码头区</h3>
				<span class="label radius">水边的</span> <span class="label radius">国际化</span>
				</div>
			</div>
			<div class="four columns">
				<div class="panel">
				<a href="melbournebayside.html" class="th"><img src="assets/mock/images/cat-perth2.jpg"></a>
				<h3>西澳大利亚</h3>
				<span class="label radius">温暖的气候</span> <span class="label radius">户外生活方式</span>
				</div>
			</div>
		</div>
		
		<div class="row">	
			<div class="four columns">
				<div class="panel">
				<a href="melbournebayside.html" class="th"><img src="assets/mock/images/cat-terrace.jpg"></a>
				<h3>墨尔本阳台的</h3>
				</div>
			</div>
			<div class="four columns">
				<div class="panel">
				<a href="melbournebayside.html" class="th"><img src="assets/mock/images/cat-rural.jpg"></a>
				<h3>墨尔本码头区</h3>
				</div>
			</div>
			<div class="four columns">
				<div class="panel">
				<a href="melbournebayside.html" class="th"><img src="assets/mock/images/cat-fitzroy.jpg"></a>
				<h3>菲茨罗伊时髦</h3>
				</div>
			</div>
		</div>
		
		<div class="row">	
			<div class="four columns">
				<div class="panel">
				<a href="#" class="th"><img src="assets/mock/images/cat-bayside.jpg"></a>
				<h3>墨尔本湾畔</h3>
				</div>
			</div>
			<div class="four columns">
				<div class="panel">
				<a href="#" class="th"><img src="assets/mock/images/cat-docklands.jpg"></a>
				<h3>墨尔本码头区</h3>
				</div>
			</div>
			<div class="four columns">
				<div class="panel">
				<a href="#" class="th"><img src="assets/mock/images/cat-perth.jpg"></a>
				<h3>菲茨罗伊时髦</h3>
				</div>
			</div>
		</div>
		
		
		</div>
	</div>