<div class="container header">
  <div class="row">
    <div class="six columns">
      <h2><font color="white">澳大房子</font></h2>
      <p>在澳大利亚发现鼓舞人心的财产</p>

    </div>
    <div class="six columns" align="right">
      <br><a href="agents.html" class="radius button"><i class="foundicon-address-book"></i> Agents</a>
    </div>
  </div>
 </div>